lab2/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="biblioteka">
    <xs:complexType>
    <xs:element name="dzialy">
    <xs:complexType>
        <xs:element name="dzial" >
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ksiazka"/>
              <xs:element name="nazwa"/>
          </xs:sequence>
      </xs:complexType>
      </xs:element>
    </xs:complexType>
    </xs:element>
  </xs:complexType>
</xs:element>
  
</xs:schema>
